n8n_workflow_1_email_scanner.json
{
  "name": "Scholarship Tracker — Email Scanner  geçerli",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -3088,
        -64
      ],
      "id": "fc2990d4-771a-44ff-ae91-4eb5c09e0196",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "labelIds": [
            "Label_2536788074724805749"
          ],
          "readStatus": "unread"
        }
      },
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -2864,
        -64
      ],
      "id": "f614e661-ab86-49b5-b1f9-d4a8e6980c10",
      "typeVersion": 2.2,
      "webhookId": "5a674f20-7a16-4517-b4c2-c4f059c3de3f",
      "credentials": {
        "gmailOAuth2": {
          "id": "tyNlsoPtJpDHGD6w",
          "name": "Gmail account"
        }
      },
      "notes": "SETUP: Change labelIds to match your Gmail label ID. To find it: open Gmail, click your label, the URL shows the ID."
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Process One by One",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2640,
        -64
      ],
      "id": "395db0b7-6c7d-432f-b150-374ddb768787",
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const subject = $input.item.json.subject || '';\nconst sender = $input.item.json.from || '';\nconst combined = (subject + sender).toLowerCase();\n\nlet hash = 0;\nfor (let i = 0; i < combined.length; i++) {\n  const char = combined.charCodeAt(i);\n  hash = ((hash << 5) - hash) + char;\n  hash = hash & hash;\n}\nconst emailHash = Math.abs(hash).toString(16);\n\nconst rawBody = $input.item.json.text || $input.item.json.snippet || $input.item.json.body || '';\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    emailHash: emailHash,\n    bodyShort: rawBody.substring(0, 800)\n  }\n}];"
      },
      "name": "Generate Email Hash",
      "type": "n8n-nodes-base.code",
      "position": [
        -2416,
        -64
      ],
      "id": "beafc9f7-7252-423d-8232-df00bc73818b",
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GEMINI_API_KEY_HERE",
          "mode": "list",
          "cachedResultName": "Opportunity_Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x44Ur3Tr4W4js1xXSA4GLBnoVTZif2zCSAp-wNC1hfw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Opportunities",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Check for Duplicate",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -2192,
        -64
      ],
      "id": "8b2f16f1-5acb-422f-88d0-73704eebb2e4",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Izr4wWkqqw5KlUZc",
          "name": "Google Sheets account"
        }
      },
      "notes": "SETUP: Replace YOUR_GOOGLE_SHEET_ID_HERE with your sheet ID (found in the Google Sheets URL)."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Title'] }}",
              "operation": "isEmpty"
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "position": [
        -1968,
        -64
      ],
      "id": "5037372e-8739-4cc3-b12f-da231c6b6e7a",
      "typeVersion": 2.3,
      "notes": "TRUE (empty = not found = new email) → continue. FALSE (found = duplicate) → stop."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1x44Ur3Tr4W4js1xXSA4GLBnoVTZif2zCSAp-wNC1hfw",
          "mode": "list",
          "cachedResultName": "Opportunity_Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x44Ur3Tr4W4js1xXSA4GLBnoVTZif2zCSAp-wNC1hfw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "User_Profile",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get User Profile",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1744,
        -64
      ],
      "id": "bf621176-562a-481e-a1f4-0172459e6100",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Izr4wWkqqw5KlUZc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const profileRows = $input.all();\n\nconst profile = {};\n\nprofileRows.forEach(row => {\n\n  profile[row.json.Field] = row.json.Value;\n\n});\n\nreturn [{ json: { userProfile: profile } }];\n"
      },
      "name": "Build Profile Context",
      "type": "n8n-nodes-base.code",
      "position": [
        -1520,
        -64
      ],
      "id": "f3d41300-7a8f-41df-9c54-57e0f1e1cc21",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent?key=AIzaSyB2b_w-pXoC83tI180Z1Ew2MuYNtRzfuBg",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyB2b_w-pXoC83tI180Z1Ew2MuYNtRzfuBg"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"contents\":[{\"parts\":[{\"text\":\"Extract opportunity info from this email. Return ONLY a JSON object, no markdown, no explanation.\\n\\nIf this email is NOT about a scholarship, internship, fellowship, grant, or competition, return exactly:\\n{\\\"classification\\\":\\\"irrelevant\\\"}\\n\\nIf it IS an opportunity, return exactly this structure:\\n{\\\"classification\\\":\\\"scholarship\\\",\\\"title\\\":\\\"Full name of opportunity\\\",\\\"organization\\\":\\\"Organization name\\\",\\\"type\\\":\\\"scholarship\\\",\\\"deadline\\\":\\\"2025-06-30\\\",\\\"location\\\":\\\"Country or city\\\",\\\"eligibility\\\":\\\"Who can apply\\\",\\\"link\\\":\\\"https://apply-url.com\\\",\\\"is_relevant_to_user\\\":true,\\\"tags\\\":[\\\"funded\\\",\\\"Europe\\\"]}\\n\\nRules:\\n- type must be one of: scholarship, internship, fellowship, grant, competition\\n- deadline must be YYYY-MM-DD format or null\\n- is_relevant_to_user is true unless clearly restricted to a country or group that excludes a Turkish undergraduate STEM student\\n- link: use the most direct application URL found, or null\\n- Return ONLY the JSON. No text before or after.\\n\\nEMAIL SUBJECT: {{ $('Generate Email Hash').first().json.subject }}\\nEMAIL BODY: {{ $('Generate Email Hash').first().json.bodyShort }}\"}]}],\"generationConfig\":{\"temperature\":0,\"maxOutputTokens\":2000,\"candidateCount\":1}}",
        "options": {}
      },
      "name": "Call Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1072,
        -64
      ],
      "id": "342877b6-40ad-4ccd-a8c5-48d6fcf236f8",
      "typeVersion": 4.4,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "notes": "SETUP: Replace YOUR_GEMINI_API_KEY_HERE with your key from Google AI Studio."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parsedItems = items.map((item) => {\n  let text = item?.json?.candidates[0]?.content?.parts[0]?.text || '';\n  \n  // Gemini'nin eklediği ```json ve ``` işaretlerini temizle\n  text = text.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  try {\n    const parsed = JSON.parse(text);\n    return { json: parsed };\n  } catch(e) {\n    return { json: { classification: 'irrelevant', err: e.message } };\n  }\n});\nreturn parsedItems;"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -848,
        -64
      ],
      "id": "434faa4c-bd9f-47e8-8f71-894b938b2bd2",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "31992a22-1071-4ec3-8167-7c1dc1569d58",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "021f616f-460b-47d3-a2ef-b9355ee4c1cc",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "irrelevant",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Relevant?",
      "type": "n8n-nodes-base.if",
      "position": [
        -624,
        -64
      ],
      "id": "c3a72f4c-fee4-43f9-9bfd-1757a8a89273",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1x44Ur3Tr4W4js1xXSA4GLBnoVTZif2zCSAp-wNC1hfw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Opportunities",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x44Ur3Tr4W4js1xXSA4GLBnoVTZif2zCSAp-wNC1hfw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Date Found": "={{ $now.toFormat('dd.MM.yyyy') }}",
            "Title": "={{ $json.title }}",
            "Organization": "={{ $json.organization }}",
            "Deadline": "={{ $json.deadline }}",
            "Location": "={{ $json.location }}",
            "Type": "={{ $json.type }}",
            "Eligibility": "={{ $json.eligibility }}",
            "Tags": "={{ $json.tags }}",
            "Status": "={{ $json.status }}",
            "Email Hash": "={{ $('Generate Email Hash').first().json.hash }}",
            "Link": "={{ $json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Found",
              "displayName": "Date Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organization",
              "displayName": "Organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eligibility",
              "displayName": "Eligibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Hash",
              "displayName": "Email Hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "eligibility",
              "displayName": "eligibility",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_relevant_to_user",
              "displayName": "is_relevant_to_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -400,
        -64
      ],
      "id": "0702f73c-a056-455e-89ed-f446bb61237d",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Izr4wWkqqw5KlUZc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0bcf17e2-7675-43b0-9ce4-f64700867ae8",
              "leftValue": "={{ $('Parse AI Response').first().json.deadline }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Deadline?",
      "type": "n8n-nodes-base.if",
      "position": [
        -176,
        -64
      ],
      "id": "28fbbc6a-1427-4fba-879c-33803c3d091b",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "8e256a16a310a511e32bde47126fd7ec1272a2a854d9a4c3edb7c21aac9c445e@group.calendar.google.com ",
          "mode": "id"
        },
        "start": "={{ $('Parse AI Response').first().json.deadline }}",
        "end": "={{ $('Parse AI Response').first().json.deadline }}",
        "additionalFields": {
          "allday": "yes",
          "color": "11",
          "description": "=Organization: {{ $('Parse AI Response').first().json.organization }}\nType: {{ $('Parse AI Response').first().json.type }}\nEligibility: {{ $('Parse AI Response').first().json.eligibility }}\nLink: {{ $('Parse AI Response').first().json.link }}\n\nAdded automatically by Opportunity Tracker.",
          "summary": "=DEADLINE: {{ $('Parse AI Response').first().json.title }}"
        }
      },
      "name": "Add to Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        48,
        -256
      ],
      "id": "bb24ff06-3950-4966-9248-f209ff0fe127",
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jozTZH2kxZ80Nejc",
          "name": "Google Calendar account"
        }
      },
      "notes": "SETUP: Replace YOUR_GOOGLE_CALENDAR_ID_HERE with your calendar ID (found in Google Calendar settings → Integrate Calendar)."
    },
    {
      "parameters": {
        "chatId": "8125132447",
        "text": "=🎓 New Opportunity Found!\n\n📌 {{ $('Parse AI Response').first().json.title }}\n🏢 {{ $('Parse AI Response').first().json.organization }}\n📂 Type: {{ $('Parse AI Response').first().json.type }}\n📅 Deadline: {{ $('Parse AI Response').first().json.deadline ?? 'Not specified' }}\n📍 Location: {{ $('Parse AI Response').first().json.location ?? 'Not specified' }}\n🔗 {{ $('Parse AI Response').first().json.link ?? 'See email for link' }}",
        "additionalFields": {}
      },
      "name": "Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [
        48,
        -64
      ],
      "id": "30b53ad4-5bc0-4122-8e61-1e63326eccff",
      "typeVersion": 1.2,
      "webhookId": "c94f9fe1-7b88-4d4a-afd1-54a2ea078453",
      "credentials": {
        "telegramApi": {
          "id": "iPROiFoufRtm1yZu",
          "name": "Telegram account"
        }
      },
      "notes": "SETUP: 1) Create a bot via @BotFather on Telegram. 2) Add the bot token as a Telegram credential in n8n. 3) Replace YOUR_TELEGRAM_CHAT_ID_HERE with your chat ID."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1x44Ur3Tr4W4js1xXSA4GLBnoVTZif2zCSAp-wNC1hfw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Digest_Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.toISO().split('T')[0] }}",
            "Title": "={{ $('Parse AI Response').first().json.title }}",
            "Deadline": "={{ $('Parse AI Response').first().json.deadline }}",
            "Type": "={{ $('Parse AI Response').first().json.type }}",
            "Sent?": "FALSE",
            "Opportunity ID ": "={{ $('Save to Sheets').first().json['ID'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Opportunity ID ",
              "displayName": "Opportunity ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sent?",
              "displayName": "Sent?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent_status",
              "displayName": "sent_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Add to Digest Queue",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        48,
        128
      ],
      "id": "340b9077-b337-4036-8076-73f29d696c97",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Izr4wWkqqw5KlUZc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Generate Email Hash').first().json.id }}"
      },
      "name": "Mark Email as Read",
      "type": "n8n-nodes-base.gmail",
      "position": [
        272,
        -64
      ],
      "id": "95aa1e21-8efe-4c72-8e2b-3b0b2f975284",
      "typeVersion": 2.2,
      "webhookId": "51b20070-d3fe-43f4-9117-fc20fd51a832",
      "credentials": {
        "gmailOAuth2": {
          "id": "tyNlsoPtJpDHGD6w",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4339a3d-55b5-42e4-87c1-f08a76661ff3",
              "name": "prompt",
              "value": "=You are an assistant that processes emails to find scholarship, internship, and opportunity announcements.\n\nUSER PROFILE:\n- Field of Study: {{ $('Build Profile Context').item.json.userProfile['Field of Study'] }}\n- Degree Level: {{ $('Build Profile Context').item.json.userProfile['Degree Level'] }}\n- Location/Citizenship: {{ $('Build Profile Context').item.json.userProfile.Location }}\n- Interests: {{ $('Build Profile Context').item.json.userProfile.Interests }}\n\nEMAIL CONTENT:\nSubject: {{ $('Generate Email Hash').item.json.Subject }}\nFrom: {{ $('Generate Email Hash').item.json.From }}\nBody: {{ $('Generate Email Hash').item.json.snippet }}\n\nTASK:\n1. Classify this email. Types: scholarship, internship, fellowship, grant, competition, event, irrelevant\n2. If NOT irrelevant, extract: title, organization, type, deadline (YYYY-MM-DD), location, eligibility, link, is_relevant_to_user, relevance_reason, tags\n3. Return ONLY valid JSON. No explanation.\n\nIf irrelevant, return: {\"classification\": \"irrelevant\"}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        -64
      ],
      "id": "d629514f-3be3-4eb2-bbac-58a19032ddd0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Every 15 Minutes": [
      {
        "json": {
          "timestamp": "2026-04-23T12:56:47.022+03:00",
          "Readable date": "April 23rd 2026, 12:56:47 pm",
          "Readable time": "12:56:47 pm",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "23",
          "Hour": "12",
          "Minute": "56",
          "Second": "47",
          "Timezone": "Europe/Istanbul (UTC+03:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One by One": {
      "main": [
        [
          {
            "node": "Generate Email Hash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Email Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Hash": {
      "main": [
        [
          {
            "node": "Check for Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Build Profile Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Profile Context": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini AI": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Is Relevant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Relevant?": {
      "main": [
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheets": {
      "main": [
        [
          {
            "node": "Has Deadline?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Deadline?": {
      "main": [
        [
          {
            "node": "Add to Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Digest Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Digest Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notification": {
      "main": [
        [
          {
            "node": "Mark Email as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call Gemini AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d23698ff-0359-4e75-93d0-16462d209b0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d4593fb967bba6519ce3304341cdfc06d639ac3f9947b9d423d89ece9233e44"
  },
  "id": "sapETz9hybaDdLpm",
  "tags": []
}